<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/bundles/warblemediaphoenix/css/font-awesome.css">
    <link rel="stylesheet" href="/bundles/warblemediaphoenix/css/bootstrap.css">
    <link rel="stylesheet" href="/bundles/warblemediaphoenix/css/phoenix.css">
</head>
<body>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include "WarbleMediaPhoenixBundle:Navigation:user.html.twig" %}
    {% else %}
        {% include "WarbleMediaPhoenixBundle:Navigation:guest.html.twig" %}
    {% endif %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="/bundles/warblemediaphoenix/js/vendor/jquery.js"></script>
    <script src="/bundles/warblemediaphoenix/js/vendor/tether.js"></script>
    <script src="/bundles/warblemediaphoenix/js/vendor/bootstrap.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
