<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    <style>
        .navbar-brand { line-height: 42px }
        .navbar .nav-link { line-height: 36px }
        .navbar .dropdown-toggle .img-thumbnail { margin: -0.425rem 0 }
        .card + .card { margin-top: 1.5rem }
        .card-header .nav-pills + span { line-height: 38px }
        .btn-upload { overflow: hidden; position: relative }
        .btn-upload input[type="file"] { cursor: pointer; line-height: 38px; margin: 0; opacity: 0; padding: 0; position: absolute; right: 0; top: 0 }
        .btn-group > label.btn { margin-bottom: 0 }
        .btn-table-align { padding-top: 7px; padding-bottom: 7px; }
        .btn-plan { width: 150px }
        .table-borderless td, .table-borderless th { border-top: 0 }
        .plan-select input[type="radio"] { clip: rect(0,0,0,0); pointer-events: none; position: absolute }
        .plan-select input[type="radio"] ~ .btn-plan-selected { display: none }
        .plan-select input[type="radio"]:checked ~ .btn-plan-select { display: none }
        .plan-select input[type="radio"]:checked ~ .btn-plan-selected { display: inline-block }
    </style>
</head>
<body>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include "WarbleMediaPhoenixBundle:Navigation:user.html.twig" %}
    {% else %}
        {% include "WarbleMediaPhoenixBundle:Navigation:guest.html.twig" %}
    {% endif %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
