<div class="card">
    <div class="card-header">Invoices</div>
    <div class="card-block">
        {% if invoices is not empty %}
            <table class="table table-borderless m-b-0">
                <tbody>
                    {% for invoice in invoices %}
                        <tr>
                            <td>
                                <div class="btn-table-align">
                                    <strong>{{ invoice.createdAt|date('F j, Y') }}</strong>
                                </div>
                            </td>
                            <td>
                                <div class="btn-table-align">
                                    {{ invoice.totalAmount|currency }}
                                </div>
                            </td>
                            <td class="text-xs-right">
                                <a href="{{ path('warble_media_phoenix_settings_download_invoice', {'id': invoice.id}) }}" class="btn btn-secondary">
                                    Download PDF
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info m-b-0">
                There are no invoices for your account.
            </div>
        {% endif %}
    </div>
</div>
