<div class="card panel-default">
    <div class="card-header">Developer</div>
    <div class="list-group list-group-flush">
        <a href="{{ path('warble_media_phoenix_developer_metrics') }}" class="list-group-item">Metrics</a>
    </div>
</div>
