{% if has_monthly_and_yearly_paid_plans() %}
    <ul class="nav nav-tabs card-header-tabs pull-xs-right">
        <li class="nav-item"><a href="#subscriptions_monthly" class="nav-link active" data-toggle="tab">Monthly</a></li>
        <li class="nav-item"><a href="#subscriptions_yearly" class="nav-link" data-toggle="tab">Yearly</a></li>
    </ul>
{% endif %}
