<div class="card panel-default">
    <div class="card-header">
        <div class="card-header-tabs-align pull-xs-left">Subscribe</div>
        {% include "WarbleMediaPhoenixBundle:Settings/subscription:interval_switcher.html.twig" %}
    </div>
    <div class="card-block p-b-0">
        <p class="card-text">You are not subscribed to a plan. Choose from the plans below to get started.</p>
    </div>
    <div class="card-block">
        <div class="tab-content">
            {% embed "WarbleMediaPhoenixBundle:Settings/subscription:plans_table.html.twig" %}
                {% block action_button %}
                    <label class="plan-select">
                        <input type="radio" name="{{ form.plan.vars.full_name }}" value="{{ plan.id }}" required="required">
                        <span class="btn btn-outline-primary btn-plan btn-plan-select">Select</span>
                        <span class="btn btn-primary btn-plan btn-plan-selected disabled">Selected</span>
                    </label>
                {% endblock %}
            {% endembed %}
            {% do form.plan.setRendered %}
        </div>
    </div>
</div>
