<div class="card panel-default">
    <div class="card-header">
        Billing Information
    </div>
    <div class="card-block">
        {{ form_row(form.stripeToken) }}

        <div class="row">
            <div class="col-sm-9 push-sm-3">
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
        </div>
    </div>
</div>
