{% extends 'WarbleMediaPhoenixBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 push-md-2">
            <div class="card panel-default">
                <div class="card-header">Reset Password</div>
                <div class="card-block">
                    {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <div class="row">
                            <div class="col-sm-9 push-sm-3">
                                <button type="submit" class="btn btn-primary">Reset Password</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
