<nav class="navbar navbar-light bg-faded">
    <div class="container">
        <button type="button" class="navbar-toggler pull-xs-right hidden-sm-up" data-toggle="collapse" data-target="#navbar">&#9776;</button>

        {% include "WarbleMediaPhoenixBundle:Navigation:brand.html.twig" %}

        <div id="navbar" class="collapse navbar-toggleable-xs">
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <a href="{# TODO: Login path #}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('warblemedia_phoenix_register') }}" class="nav-link">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
