<nav class="navbar navbar-light bg-faded m-b-3">
    <div class="container">
        <button type="button" class="navbar-toggler pull-xs-right hidden-sm-up" data-toggle="collapse" data-target="#navbar">&#9776;</button>

        {% include "WarbleMediaPhoenixBundle:Navigation:brand.html.twig" %}

        <div id="navbar" class="collapse navbar-toggleable-xs">
            <ul class="nav navbar-nav">
                {% include "WarbleMediaPhoenixBundle:Navigation:user_left.html.twig" %}
            </ul>
            <ul class="nav navbar-nav pull-xs-right">
                {% include "WarbleMediaPhoenixBundle:Navigation:user_right.html.twig" %}
            </ul>
        </div>
    </div>
</nav>
