{{ form_start(form) }}
    {{ form_rest(form) }}
    <div class="row">
        <div class="col-sm-9 push-sm-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
{{ form_end(form) }}
