<div class="card card-outline-warning">
    <div class="card-header">Search Results</div>
    <div class="card-block">
        <p class="card-text">No users matched the given criteria.</p>
    </div>
</div>
