<div class="card">
        <div class="card-header">Search Results</div>
        <div class="card-block">
            <table class="table table-borderless mb-0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in results %}
                        <tr>
                            <td>
                                <img src="{{ user.photoUrl }}" width="38" height="38" class="rounded-circle img-thumbnail">
                            </td>
                            <td>
                                <div class="btn-table-align">{{ user.name }}</div>
                            </td>
                            <td>
                                <div class="btn-table-align">{{ user.email }}</div>
                            </td>
                            <td>
                                <a href="{{ path('warble_media_phoenix_developer_user_profile', {'id': user.id}) }}" class="btn btn-secondary">View</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
