<form method="get" accept-charset="utf-8">
    <div class="form-group m-b-2">
        <label for="query" class="sr-only">Search Query</label>
        <input type="text" id="query" name="query" class="form-control" value="{{ query }}" placeholder="Search by name or email address..." autofocus>
    </div>
</form>
