{% include "WarbleMediaPhoenixBundle:Developer/metrics:graphs_monthly_revenue.html.twig" %}

{% include "WarbleMediaPhoenixBundle:Developer/metrics:graphs_yearly_revenue.html.twig" %}

<div class="row">
    <div class="col-md-6">
        {% include "WarbleMediaPhoenixBundle:Developer/metrics:graphs_total_revenue.html.twig" %}
    </div>
    <div class="col-md-6">
        {% include "WarbleMediaPhoenixBundle:Developer/metrics:graphs_new_customers.html.twig" %}
    </div>
</div>
