<div class="card card-outline-info text-xs-center">
    <div class="card-header">Users Currently Trialing</div>
    <div class="card-block">
        <span style="font-size: 24px;">
            {{ trialCustomerCount }}
        </span>
    </div>
</div>
