<div class="card card-outline-success text-xs-center">
    <div class="card-header">Total Revenue To Date</div>
    <div class="card-block">
        <span style="font-size: 24px;">
            {{ totalRevenueToDate|currency }}
        </span>
    </div>
</div>
