<div class="row">
    <div class="col-md-6">
        {% include "WarbleMediaPhoenixBundle:Developer/metrics:stats_monthly_revenue.html.twig" %}
    </div>
    <div class="col-md-6">
        {% include "WarbleMediaPhoenixBundle:Developer/metrics:stats_yearly_revenue.html.twig" %}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {% include "WarbleMediaPhoenixBundle:Developer/metrics:stats_total_revenue.html.twig" %}
    </div>
    <div class="col-md-6">
        {% include "WarbleMediaPhoenixBundle:Developer/metrics:stats_trial_users.html.twig" %}
    </div>
</div>
