<div class="card card-outline-success text-xs-center">
    <div class="card-header">Yearly Recurring Revenue</div>
    <div class="card-block">
        <div style="font-size: 24px;">
            {{ yearlyRecurringRevenue|currency }}
        </div>
    </div>
</div>
