<div class="card panel-default">
    <div class="card-header">Profile Photo</div>
    <div class="card-block">
        <form action="">
            <div class="row">
                <div class="col-sm-9 push-sm-3">
                    <div class="m-b-1">
                        <img src="{{ user.photoUrl }}" alt="{{ user.name }}" width="150" height="150" id="profile_photo_preview" class="img-fluid img-rounded">
                    </div>
                    <button type="button" class="btn btn-primary btn-upload">
                        Select New Photo
                        <input type="file" id="profile_photo_input" accept="image/*">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
