<div class="card panel-default">
    <div class="card-header">Settings</div>
    <div class="list-group list-group-flush">
        <a href="{{ path('warble_media_phoenix_settings_profile') }}" class="list-group-item">Profile</a>

        <a href="{{ path('warble_media_phoenix_settings_security') }}" class="list-group-item">Security</a>
    </div>
</div>

{% if has_paid_plans() %}
    <div class="card panel-default">
        <div class="card-header">Billing</div>
        <div class="list-group list-group-flush">
            <a href="{{ path('warble_media_phoenix_settings_subscription') }}" class="list-group-item">Subscription</a>
        </div>
    </div>
{% endif %}
