<div class="card panel-default">
    <div class="card-header">Settings</div>
    <div class="list-group list-group-flush">
        <a href="{{ path('warble_media_phoenix_settings_profile') }}" class="list-group-item">Profile</a>

        <a href="{{ path('warble_media_phoenix_settings_security') }}" class="list-group-item">Security</a>
    </div>
</div>
